<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    background-color: black;
}
.background{
    background-image: url(img/mainbackground.png);
    height: 100vh;
    max-width:;
    background-size:100% 100% ;
    background-repeat: no-repeat;

}
.back2{
    background-image: url(img/back2.png);
    height:100vh;
    width:100% auto;
    background-size: 100% 100% ;
    background-repeat: no-repeat;
    
     
    
}
.nav-link {
    justify-content: center;
    align-items: center;
    text-align: center;
}
 .nav-item a{
    opacity: 0.8;
 }
 .nav-item a:hover {
    color: #aa15b6 !important;
    opacity: 1.0 !important;
    transition: 0.5s;
}
.navbar-toggler{
    background: transparent !important;
}
.header{
    background-color: #521240 !important;
}
.maintext{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 220px;
}
.maintext .part1{
    width: 50%;
    color: white;

}
.maintext .part2{
    width: 50%;
    color: white;
}



.textpart{
    text-align: start;
}




.round2{
    height: 400px;
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    display: block;
}
.roundicon{
    background-image: url(img/roundicon.png);
    height: 60px;
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center !important;
    align-items: center !important;
 
}
.round2 .text{
    color: white;
}
.part3{
    display: flex;
    background-color: #aa15b6;
}
.round4{
    background-color: black;
}
.round4 .cart{
    display: flex;
}
.round4 .cart .card{
    background-color: #aa15b6;
    color: white;
    justify-content: center !important;
    
}
.round5 img{
    height: 300px;
    width:100%;
    background-size: 100% 100%;
}

.round6{
    background-color: black;
}
.lipart ul{
    display: flex;
    justify-content: center;

}
.lipart li{
    display: inline-block;
    list-style: none;

}
.lipart li a{
     text-decoration: none;
    list-style: none;
    padding: 10px;
    color: white;

}
.border{
   
    color: white;
    background-color: white;
}
.round7 img{
    height: 300px;
    width:100%;
    background-size: 100% 100%;
    margin-top: -17px;
}
.round8{
    background-color: black;
    margin-top: -60px;
}
.round8 .texticon{
    font-size: 100px;
    font-weight: bolder;
    padding-top: 90px;
    margin-bottom: -50px;
    font-family: sans-serif;
}
.round9 img{
    width: 100%;
    height: 300px;
    background-size: 100% 100%;
    margin-top: -20px;
}
.round10 .backimg{
    background-image: url(img/back6.png);
    height: 500px;
    width: 100%;
    background-size: 100% 100%;
}
.round10 .textpart{
    display: flex;
}
.round10 .textpart .boxf h1 , h2{
    font-size: 20px;
    font-family: monospace;
}
.round10 .textpart .boxf{
    padding-top: 50px;
}
.boxerimg img{
    height: 400px;
    width: 600px;
}
.textpera{
    margin-top: 30px;
}
.round11{
    background: black;
}
.round12{
    background: #aa15b6;
    height: 300px;
    padding-top: 120px;
}
.imgpart11 img{
    height: 100px;
    width: 5px;  
}
.textpart12{
    margin-left: 15px;
}
.textpart12 h3{
    font-size: smaller;   
}
/*-------------responsive start---------------*/
@media only screen and (max-width: 750px){
    .background , .back2{
        height: 500px;
    }
    .navbar{
        background-color: orange;
    }
    .maintext{
        padding-top: 80px;
    }
.maintext .part1{
    width: 50%;
    color: white;
    display: none;

}
.maintext .part2 p{
    font-family: sans-serif;
    opacity: 0.5;
}
.maintext .part2 h1{
    opacity: 0.8;
    color: orange;
}
.round2 .text{
    font-size: 10px;
}
.part3{
    display: block !important;
    font-size: 10px;

}
.sce1{
        margin-left: 100px;
}
.round4{
    overflow: hidden;
}
.round4 .cart{
    display: block;
    
}
.round4 .cart .card{
    background-color: #aa15b6;
    color: white;
    justify-content: center !important;
    height: 300px !important;
    width: 250px !important;
    margin-top: 20px !important;
    
}

.texthead{
    font-size: 10px;
}
.round5 img{
    height: 200px;
    width:100%;
    background-size: 100% 100%;
}
.textpart5{
    font-size: 10px;
}
.lipart li a{
 font-size: 10px;
 justify-content: center;
}
.round7 img{
    height: 200px;
}
.round8 .texticon{
    padding-top: 50px;
    margin-bottom: -60px;
}
.round9 img{
    height: 200px;
}
.round10 .textpart{
    display: flex;
}
.round10 .textpart{
    display: flex;
}
.round10 .backimg{
    height: 300px;
}
.round10 .textpart .boxf{
    padding-top:0px;
    margin: 15px;
    margin-top: -30px;
}
.round10 .textpart .boxf p, h1 , h2{
    font-size: 10px;
    font-family: monospace;
}
.round11{
    max-width: 100%;
}
.round11 .textpera h1{
    font-size: 10px;
}
.round11 .textpera h2{
    font-size: 10px;
}
.round11 .textpera p{
    font-size: 8px;
}
.round11 .textpera{
    margin-top: -20px;
}
.boxerimg img{
    height: 180px;
    width: 200px;
}
.textpera{
    padding-top: 0 !important;
    margin-top: -30px !important;
}
.round12{
    background:#aa15b6;
    height: 200px;
    padding-top: 80px;
}
.imgpart11 img{
    height: 80px;
    width: 1px;  
}
.textpart12{
    margin-left: 5px;
}
.textpart12 h3{
    font-size: 10px;   
}
.textpart12 p{
    font-size: 10px;   
}